.App {
  text-align: center;
}

.userInput{
  padding-top: 10px;

}

.Output{
  padding-top: 30px;
}

.Error{
  padding-top: 30px;
  color: red;
}

#inputTxt{
  width: 50%;
  padding: 12px 20px;
  margin: -31px 5px;
  box-sizing: border-box;
}

button{
  padding: 12px 20px;
  margin: 8px 0;
}